body {
    background: IndianRed;
    color: LemonChiffon;
}
ul{
    text-align:center;
    margin-bottom:30px;
}
.comparey body{
    background: #191919;
    color:white;
}
.comparey h1{
        text-shadow: 0px 0px 10px White;
}
.comparey h2{
        text-shadow: 0px 0px 10px White;
        }
.singleconc{
    margin-top:20px;
    margin-left:20%;
    margin-right:auto;
    background-color:white;
    box-shadow: 3px 3px .4em #1cc22a, -1em 0 .4em #d32f2f;
    
}
a:link {
    color: DarkTurquoise;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: LawnGreen;
    background-color: transparent;
    text-decoration: none;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    width: 85%;
    background: #e38686;
    padding:1em;
    box-shadow: 0px 0px 5px #ba2839;
    }
    
nav {
    
    text-align: center;
}

img{
    
    height: 400px;
    width: auto;
    padding: 15px;
    background: #BCE954;
    }

.minilogo{
    height:30px;
    width:auto;
    padding: 0;
    background: none;
    display:flex;
    margin-left: 5px;
    margin-top: 5px;
}

.mlcontain{
    display:flex;
    margin-left: 40%;
    margin-right:auto;
}

.buttonflex{
    display:flex;
}
    
h1 {
  font-size: 50px;
  text-align: center;
    text-shadow: 0px 0px 5px DarkTurquoise;
}

h2{
    font-size: 35px;
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}

html{
      font-family: Georgia, serif;

}

figure{
    text-align: center;
}

iframe{
     height: 360px;
     width: auto;
     padding: 15px;
     background: #BCE954;
     text-align:center;
     
}

.bitsy{
    height: 384px;
    width: 384px;
    
}

.project{
     background: #e38686;
    padding:20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 65%;
    display:block;
    box-shadow: 0px 0px 5px #ba2839;

}

.peaks{
background: #d32f2f;
text-align:left;
color:white;
overflow:hidden;
width:45%;
margin-left:auto;
margin-right:auto;
margin-top:30px;
box-shadow: 0px 0px 10px white;
}

.analysisblock{
    width:25%;
    height:auto;
    display:inline-block;
    margin-left:0.5em;
    margin-right:0.5em;
    text-align:center;
    margin-bottom:1em;
    background-color:#1cc22a;
}

.analysisblock:hover{
    transform:scale(2);
}

.analysisblockleft{
    width:25%;
    height:auto;
    display:inline-block;
    margin-left:auto;
    margin-right:0.5em;
    text-align:center;
    margin-bottom:1em;
    background-color:#1cc22a;
}
.analysisblockleft:hover{
    transform: scale(2)  translateX(100px);

}
.analysisblockright{
    width:25%;
    height:auto;
    display:inline-block;
    margin-left:0.5em;
    margin-right:auto;
    text-align:center;
    margin-bottom:1em;
    background-color:#1cc22a;
}
.analysisblockright:hover{
    transform: scale(2)  translateX(-100px);
}

.analysisimage{
    background-color:white;
    margin-right:3em;
}
.centeranalysisleft{
    width:25%;
    height:auto;
    margin-left:20em;
    margin-right:0.5em;
    margin-bottom:1em;
     background-color:#1cc22a;
    
}
.centeranalysisright{
    width:25%;
    height:auto;
    margin-right:5em;
    margin-left:0.5em;
    margin-bottom:1em;
    background-color:#d32f2f;
    
}

.thirdanalysisright{
    width:20%;
    height:auto;
    margin-right:10em;
    margin-left:0.5em;
    margin-top:2em;
    background-color:#1cc22a;
}
.thirdanalysisleft{
    width:20%;
    height:auto;
    margin-right:0.5em;
    margin-left:10em;
    margin-top:2em;
    background-color:#d32f2f;

    
}

.peaks h2{
    margin-right:auto;
    margin-left:auto;
    margin-bottom:10px;
}
.xfiles h2{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
}
.xfiles p{
    margin-left: 1em;
    margin-right: 1em;
}
.peaks p{
    margin-left: 1em;
    margin-right: 1em;
}
.xfiles{
background:#1cc22a;
text-align:left;
color:white;
width:45%;
float:right;
overflow:hidden;
margin-right:auto;
margin-left:auto;
margin-top:30px;
box-shadow: 0px 0px 10px white;
}

button{
  border: none;
  color: black;
  padding: 8px 16px;
  font-family: Georgia, serif;
  text-align: center;
  display:inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: LemonChiffon;
  
}
button:hover {
  background-color: LawnGreen;
  color: white;
  transition-duration: 0.4s;
}

img:hover{
transform: scale(1.2);
transition-duration: 0.4s;
}

.project img:hover{
    transform: scale(1.5);
}

figure{
    display:inline-block;
}
nav button{
    margin: 0px 0px;
    }
.resume{
    background-color: white;
    box-shadow: 10px 5px 5px black;
    color: black;
    padding: 1em;
    margin-left: 300px;
    margin-right:300px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume h1{
    text-align: left;
    text-shadow: none;
}
.resume h2{
    text-align: left;
}
.resume h3{
    text-align: left;
}
.resume a{
    color:#454545;
}
