body {
    background: IndianRed;
    color: LemonChiffon;
}
a:link {
    color: DarkTurquoise;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: LawnGreen;
    background-color: transparent;
    text-decoration: none;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    background: #e38686;
    padding:1em;
    box-shadow: 0px 0px 5px #ba2839;
    }
    
nav {
    
    text-align: center;
}

img{
    
    height: 400px;
    width: auto;
    padding: 15px;
    background: #BCE954;
    }

.minilogo{
    height:30px;
    width:auto;
    padding: 0;
    background: none;
    display:flex;
    margin-left: 5px;
    margin-top: 5px;
}

.mlcontain{
    display:flex;
    margin-left: 40%;
    margin-right:auto;
}

.buttonflex{
    display:flex;
}
    
h1 {
  font-size: 50px;
  text-align: center;
    text-shadow: 0px 0px 5px DarkTurquoise;
}

h2{
    font-size: 35px;
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}

html{
      font-family: Georgia, serif;

}

figure{
    text-align: center;
}

iframe{
     height: 360px;
     width: auto;
     padding: 15px;
     background: #BCE954;
     text-align:center;
     
}

.bitsy{
    height: 384px;
    width: 384px;
    
}

.project{
     background: #e38686;
    padding:20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 65%;
    display:block;
    box-shadow: 0px 0px 5px #ba2839;

}

button{
  border: none;
  color: black;
  padding: 8px 16px;
  font-family: Georgia, serif;
  text-align: center;
  display:inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: LemonChiffon;
  
}
button:hover {
  background-color: LawnGreen;
  color: white;
  transition-duration: 0.4s;
}

img:hover{
transform: scale(1.2);
transition-duration: 0.4s;
}

.project img:hover{
    transform: scale(1.5);
}

figure{
    display:inline-block;
}
nav button{
    margin: 0px 0px;
    }
.resume{
    background-color: white;
    box-shadow: 10px 5px 5px black;
    color: black;
    padding: 1em;
    margin-left: 300px;
    margin-right:300px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume h1{
    text-align: left;
    text-shadow: none;
}
.resume h2{
    text-align: left;
}
.resume h3{
    text-align: left;
}
.resume a{
    color:#454545;
}
